<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Edit Post</title>
    <link rel="stylesheet" href="/stylesheets/style.css">
    <script src="https://cdn.jsdelivr.net/npm/@tailwindcss/browser@4"></script>

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
        href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap"
        rel="stylesheet">

    <style>
        * {box-sizing: border-box;}
        .font-poppins {font-family: "Poppins", sans-serif;}
    </style>
</head>

<body class="relative w-full bg-zinc-900 text-white md:p-10 font-poppins h-screen ">


    <div class=" md:max-w-96 md:mx-auto border border-zinc-700 p-5">

        <a href="/profile"
            class="text-green-500 md:p-0 p-5 inline-block hover:text-green-600 transition-all mb-2 inlineflex justify-center items-center -block"><--Back
                to Profile </a>
                <div>
                    <!-- post image -->
                    <div class="max-h-[600px] overflow-hidden">
                        <img class="w-full " src="<%= post.postImage %>" alt="">
                    </div>
                    <!-- post content -->
                    <div class="p-2">
                        <p class="text-wrap">
                            <%= post.content %>
                        </p>
                    </div>

                </div>





                <!-- Edit Post Form -->
                <div class="border border-zinc-700 p-3 rounded-md space-y-2">

                    <h1>Edit your post</h1>

                    <form class="grid gap-3 " method="post" action="/edit/<%= post._id %>">
                        <input type="text" name="postImage" placeholder="New Image Url"
                            class="border border-zinc-700 outline-none px-4 py-3 rounded-md" required>
                        <input type="text" name="content" placeholder="Write New Contenct ?"
                            class="border border-zinc-700 outline-none px-4 py-3 rounded-md" required>

                        <input
                            class="bg-blue-500 hover:bg-blue-600 px-4 py-2 active:scale-95  rounded-md cursor-pointer transition-all"
                            type="submit" value="Update Post">
                    </form>

                </div>
    </div>
</body>

</html>